

body {
    margin: 20px;
    /* Challenge: Set the font to Verdana. */
    font-family: Trebuchet MS, Georgia, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    
}

.avatar {
    width: 150px;
}

.card {
    width: 400px;

    /* Challenge: Replace the two margin porperties with a single margin shorthand */
    /* 
    margin-left: auto;
    margin-right: auto;
    */
    margin: 20px auto;    
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    color: #262a2e;
    background-color: #6a66a3e7;
    border-right: 12px solid #542e71;
    border-left: 10px solid #542e71;
}

.border-blue {
    border: 10px dotted #ff595e;
}

